<a href="https://colab.research.google.com/github/mavito/hello-world/blob/master/amazonprime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import json
from collections import Counter
import string
import re

LINK TO AMAZON REVIEWS FOR OFFICE PRODUCTS

In [0]:
url = "http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz"

In [0]:
r = pd.read_json(url,lines=True)

In [0]:
#function which splits the words in a text paragraph and returns counter of occurrence of each individual word as dictionary
def custom_func(text):
  return Counter(text.split())

In [0]:
df1 = r.copy()

In [0]:
df1['reviewCounter'] = df1['reviewText'].apply(lambda x:custom_func(x))

In [0]:
df1['reviewCounter'][1]

In [0]:
vowel = ['a','e','i','o','u']

In [0]:
def splitr(m):
  return list(m)

In [0]:
def func(text):
  countr = {"vowel":0,"consonant":0,"totcount":0}
  for word in text:
    wordrs = splitr(word)
    for wordr in wordrs:
      if wordr in vowel:
        countr["vowel"]+=1
      else:
        countr["consonant"]+=1
      countr['totcount']+=1
  return countr

In [0]:
df1['SingoCounter'] = df1['reviewText'].apply(lambda x:func(x))

In [149]:
df1['SingoCounter'][2]

{'consonant': 363, 'totcount': 495, 'vowel': 132}

In [150]:
(len(df1['reviewText'][2])) == df1['SingoCounter'][2]['totcount']

True

In [91]:
re.findall(r"^[i,I]",df1['reviewText'][0])

['I']

In [0]:
def begend(text):
  countbe = {'begB':0,'endG':0}
  for word in text:
    if (re.findall(r"^b",word,re.IGNORECASE)):
      countbe['begB']+=1
    elif(re.findall(r"g$",word,re.IGNORECASE)):
      countbe['endG']+=1
  return countbe

In [0]:
df1['BegEnd'] = df1['reviewText'].apply(lambda x:begend(x))

In [153]:
df1['BegEnd'][3]

{'begB': 35, 'endG': 53}

In [154]:
df1

           reviewerID  ...                    BegEnd
0      A32T2H8150OJLU  ...  {'begB': 17, 'endG': 14}
1      A3MAFS04ZABRGO  ...  {'begB': 66, 'endG': 74}
2      A1F1A0QQP2XVH5  ...    {'begB': 7, 'endG': 9}
3       A49R5DBXXQDE5  ...  {'begB': 35, 'endG': 53}
4      A2XRMQA6PJ5ZJ8  ...    {'begB': 7, 'endG': 5}
...               ...  ...                       ...
53253  A1ODOGXEYECQQ8  ...  {'begB': 15, 'endG': 11}
53254  A2XX2A4OJCDNLZ  ...  {'begB': 37, 'endG': 30}
53255  A3LGT6UZL99IW1  ...  {'begB': 23, 'endG': 37}
53256  A1XJOSJN6FHFO0  ...   {'begB': 7, 'endG': 12}
53257   AAEVGE52KL0DJ  ...  {'begB': 28, 'endG': 40}

[53258 rows x 12 columns]